

.circles {
    z-index: 0;
    position: absolute;
    z-index: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circles li {
    position: absolute;
    z-index: 0 !important;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 80px;
    height: 100px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 70px;
    height: 80px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 35px;
    height: 45px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0%;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.8;
        border-radius: 50%;
    }
}
/*!-------------------*------------------*/



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    z-index: 1;
    font-family: 'concert one';
}
a{
    text-decoration:none;
}

.container {
    position: relative;
    max-width: 100vw;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content:center;
}

.first {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #02aab0, #00cdac);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'rubik', sans-serif;
    text-transform: capitalize;
}

form{
    margin-top: 50px;
    position: relative;
    width: 400px;
    height: max-content;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius:10px
}

input{
    position:relative;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
}

#sendotp{
    position:relative;
    width: 100%;
    height: 35px;
    font-size:18px;
    outline: none;
    border: none;
    margin: 15px 0px;
    border-radius: 5px;
    padding-left: 15px;
    background-color: rgb(6, 180, 6);
    color: white;
}

.afterotp{
    display: none;
}


input[type='submit']{
    outline: none;
    border: none;
    font-size:18px;
    margin-top: 20px;
    background-color: rgb(6, 180, 6);
    color: white;
    height: 40px;
    transition: 0.4s;
}



input[type='submit']:hover{
    cursor: pointer;
    background-color: rgb(17, 235, 17);
}


form h1{
    text-align: center;
    font-family: 'concert one';
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

form p{
    font-size: 14px;
    margin-bottom: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus{
    border: 1px solid rgb(12, 146, 255);
}

form a{
    color: blue !important;
}