@import "index.css";
@import "menubar.css";
@import "upload.css";
@import "uploadresult.css";
@import "myfiles.css";
@import "f.css";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 100vw;
  width: 100%;
  /* max-height: 100vh; */
  height: 90vh;
}

